.instructions{
    background: lightgray;
    margin-top: 60px;
  }

.instructions h1{
    display: flex;
    justify-content: center;
}

.instructions p {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){

    .instructions{
        margin-top: 125px;
        padding-left: 10px;
    }
}